// Colors

$white: rgb(255,255,255);
$texasRose: rgb(255,193,85);
$pigeonPost: rgb(169,196,223);
$limedSpruce: rgb(57,75,80);
$boulder: rgb(123,123,123);
$danube: rgb(112,157,202);
$pickledBluewood: rgb(39,58,67);
$osloGray: rgb(147,153,156);
$mirage: rgb(23,34,39);
$viking: rgb(113,182,213);

// Typograpfy

$base-font-family: 'Open Sans', sans-serif;
$logo-font-family: 'Pacifico', cursive;
$base-font-size: 16px;